.introductionComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
}

.introTitle {
  font-size: clamp(1.8rem, 7vw, 2.2rem);
  font-weight: var(--fw-300);
  text-align: center;
  margin-block: 3rem 1rem;
  margin-block-start: clamp(3rem, 3vw, 7rem);
  margin-block-end: clamp(1rem, 1.3vw, 2.5rem);
}

.introInfo {
  background-color: var(--White);
}

.introDescription {
  font-family: 'Alata', sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: var(--fw-300);
  color: var(--Grey-200);
  text-align: center;
  line-height: 1.5;
  max-width: 40rem;
}

.moleBr {
  display: none;
}

@media (min-width: 90rem) {
  .introductionComponent {
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
    margin-block-start: clamp(3rem, 2.5vw, 10rem);
    width: 90vw;
  }

  .introInfo {
    position: absolute;
    right: 1.2rem;
    bottom: 5.9rem;
    padding-block-start: clamp(2.5rem, 3vw, 5rem);
    padding-inline-start: clamp(5rem, 5vw, 8rem);
    width: 50%;
  }

  .introTitle {
    text-align: left;
    font-size: clamp(3rem, 3.2vw, 5rem);
  }

  .introDescription {
    text-align: left;
    font-size: clamp(0.96rem, 1.06vw, 2rem);
    max-width: clamp(28rem, 30vw, 50rem);
  }

  .introImg {
    margin-inline-end: 50rem;
    margin-inline-end: clamp(26rem, 28vw, 50rem);
    width: 55%;
  }

  .moleBr {
    display: block;
  }
}