.introductionComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
}

.introTitle {
  font-size: 2.1rem;
  font-weight: var(--fw-300);
  text-align: center;
  margin-block: 3rem 1rem;
}

.introDescription {
  font-family: 'Alata', sans-serif;
  font-weight: var(--fw-300);
  color: var(--Grey-200);
  text-align: center;
  line-height: 1.5;
}