.creationsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
  margin-block-end: 3rem;
}

.creationTitle {
  font-size: 2.1rem;
  font-weight: var(--fw-300);
  margin-block-end: 3rem;
}

.creations {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 319.97px); */
  grid-gap: 1.5rem;
}

.cards {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.cards img {
  position: relative;
  z-index: 1;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: var(--fw-300);
  color: var(--White);
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  padding-block-start: 1.7rem;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.theGrid {
  width: 20%;
}

.seeAllBtn {
  letter-spacing: 0.2rem;
  padding: 0.8rem 2.8rem 0.6rem 2.8rem;
  border: solid black 0.1rem;
  margin-block: 2rem;
}