.creationsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
  margin-block-end: 3rem;
}

.titleButton {
  display: block;
}

.creationTitle {
  font-size: clamp(1.8rem, 7vw, 3rem);
  font-weight: var(--fw-300);
  text-align: center;
  margin-block-end: 3rem;
}

.creations {
  display: grid;
  grid-gap: 1.5rem;
  place-items: center;
  width: 100%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.cards img {
  position: relative;
  z-index: 1;
}

.shadowBackground {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-inline-start: 1rem;
  padding-block-start: 1.7rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.cardTitle {
  font-size: clamp(1.2rem, 7vw, 3rem);
  font-weight: var(--fw-300);
  color: var(--White);
  width: 50%;
}

.theGrid {
  width: 20%;
}

.seeAllBtn {
  font-family: 'Alata', sans-serif;
  letter-spacing: 0.2rem;
  border: solid black 0.1rem;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  margin-block: 2rem;
  width: 50%;
}

.seeAllBtnTop {
  display: none;
}

@media (min-width: 768px) {
  .creationsSection {
    margin-inline: auto;
    margin-block: 3rem 12rem;
    width: clamp(42rem, 80vw, 125rem);
  }

  .creations {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .titleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 3rem;
    width: 100%;
  }

  .shadowBackground {
    padding-block: clamp(1rem, calc(3.2857rem - 1.2857vw), 2rem);
    padding-inline: clamp(1rem, calc(4.0286rem - 2.1429vw), 2.5rem);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  .cardTitle {
    font-size: clamp(1.6rem, 2.3vw, 2rem);
    align-self: flex-end;
    height: max-content;
    width: 100%;
  }

  .theGrid {
    width: 30%;
  }

  .creationTitle {
    margin: 0;
  }

  .seeAllBtn {
    display: none;
  }

  .seeAllBtnTop {
    display: block;
    margin: 0;
    width: max-content;
    padding-inline: 2rem;
    width: 10rem;
  }
}

/* Hover effects */

.seeAllBtn:hover {
  cursor: pointer;
  color: var(--White);
  background-color: var(--Black);
}

.shadowBackground:hover {
  cursor: pointer;
  background: none;
  background-color: rgba(255, 255, 255, 0.768);
}

.shadowBackground:hover .cardTitle {
  color: var(--Black);
}