.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1.3rem;
  padding-block: clamp(2.5rem, 5vw, 4rem);
}

.logoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.logo {
  width: clamp(9rem, 30vw, 12rem);
}

.title {
  font-size: clamp(1.5rem, 10vw, 4rem);
  font-weight: var(--fw-300);
  color: var(--White);
  align-self: flex-start ;
  padding-inline: clamp(1.5rem, 2.55vw, 2.5rem);
  padding-block-start: clamp(1rem, 3vw, 3.5rem);
  padding-block-end: clamp(0.5rem, 1.5vw, 2rem);
  margin-block: 10.1rem 11.4rem;
  border: solid var(--White) 0.15rem;
  width: 100%;
}

.menuNav ul {
  font-family: 'Alata', sans-serif;
  color: var(--White);
  display: flex;
  gap: clamp(1rem, 2.3vw, 2rem);
}

@media (min-width: 768px) {

  .heroSection {
    padding-inline: 11.5vw;
  }

  .title {
    font-size: clamp(1.5rem, 4.99vw, 5rem);
    margin-block: 6.5rem 5rem;
    max-width: 45vw;
  }

  .moleBr {
    display: none;
  }
}