.footer {
  font-family: 'Alata', sans-serif;
  color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
  background-color: var(--Black);
}

.logo {
  width: 8.5rem;
}

.navBar {
  text-align: center;
  margin-block: 2.5rem;
}

.navBar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.credits {
  color: var(--Grey-200);
  margin-block-start: 1rem;
}