/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey-200: hsl(0, 0%, 60%);

  --fw-300: 300;
  --fw-400: 400;
}

@font-face {
  font-display: swap; 
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/alata-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/josefin-sans-v34-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/josefin-sans-v34-latin-regular.woff2') format('woff2'); 
}

body {
  font-family: 'Josefin Sans', sans-serif;
}